@model FirewoodMVC.Models.Order_Details
@using FirewoodMVC.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string userName = string.Empty;
    if (Session["User"] != null)
    {
        // Cast Customer as session
        Customer customer = (Customer)Session["User"];
        userName = customer.User_Name;
    }
    if (Session["User"] != null && Session["Temp"] != null)
    {
        Order order = (Order)Session["Temp"];
    }

    int orderCount = 0;
    if (Session["Order_Count"] != null)
    {
        orderCount = (int)Session["Order_Count"];
    }
    //Script section for prefilling info
    <script>
        function prefill()
        {
            @*alert("@Session["Order_Count"]");*@
            document.getElementById('order_id').value = "@orderCount";
        }
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="color:white">
        <h4>Select product to purchase</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Order_Id, "Order_Id", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Order_Id, new { htmlAttributes = new { @class = "form-control", id = "order_id" } })
                @Html.ValidationMessageFor(model => model.Order_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_ID, "Product Name", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownList("Product_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Product_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Unit_Price, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Unit_Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Unit_Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-7">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    prefill();
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
